body {
    position: relative;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    padding: 15px;
    text-align: center;
    width: auto;
    background:#195695;
    color: #fff;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    margin: 30px 15px;
  }
  
.text-input-wrapper{
    width: 48%;
}

  .text-editor{
      height: 62vh;
      border: 2px solid black;
      padding: 10px;
      overflow-y: auto;
    
  }
  
  .wrapper-btn{
      padding: 20px 0px;
      text-align: center;
  }
  
  .wrapper-btn button {
      padding: 10px 20px;
      cursor: pointer;
  }